@font-face {
    font-family: RobotoDraft;
    src: url('./../fonts/Roboto-Regular.ttf');
}

body {
    background-color: #e9e9e9;
    font-family: "RobotoDraft", "Roboto", sans-serif;
}

.main {
    position: fixed;
    top: 50px;
    min-width: 900px;
    left: 50%;
    background-color: #f6f6f6;
    bottom: 50px;
    margin-left: -450px;
    box-shadow: 0 0px 10px #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.main-body {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
}

.contacto {
    position: relative;
    margin: 1px 0 0 0;
}

.contact-picture {
    width: 56px;
    display: inline-block;
    margin-right: 10px;
}

.contact-picture img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.contact-content {
    display: inline-block;
    width: -webkit-calc(100% - 76px);
    width: calc(100% - 76px);
}

.contact-content h3 {
    margin: 0;
}

.opciones {
    position: absolute;
    top: 15px;
    right: 15px;
}

.opciones .pager {
    margin: 0;
}

.opciones .pager a:hover {
    cursor: pointer;
}

.opciones .pager a .material-icons {
    font-size: 1.5em;
    font-weight: bold;
}
.panel.panel-deleted .panel-body{
    background: #C0392B;
    color: #fff;
}
